body {
  margin: 0;

  main {
    text-align: center;
    height: 590px;

    .leftBoard {
      display: inline-block;
      height: 100%;
      width: 70%;
      float: left;

      .clickBoxAndScoreboard {
        display: inline-block;
        width: 154px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .clickBox {
          display: inline-block;
          height: 150px;
          width: 150px;
          margin: 0 auto;
          border: 2px solid black;
          font-size: 50px;
          line-height: 50px;
          text-align: center;
        }

        .scoreboard {
          display: none;
          height: 40px;
          width: 150px;
          margin-top: 2px;
          border: 2px solid black;

          p {
            height: 20px;
            margin: 0;
          }
        }
      }
    }

    .rightBoard {
      display: inline-block;
      height: 100%;
      width: 30%;
      float: left;

      .shopContainer {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .shopButton {
          display: inline-block;
          height: 40px;
          margin-bottom: 2px;
          width: 90%;
          border: 2px solid black;
        }
      }
    }
  }
  header {
    height: 28px;
    font-size: 0;

    .buyButton {
      display: inline-block;
      height: 20px;
      width: 100px;
      padding: 0 1px;
      margin: 2px;
      border: 2px solid lightgrey;
      font-size: 16px;
      color: lightgrey;
      text-align: center;
    }
  }
}
